extends ./layout

block bodyContainer
  include ./menu
  #contentContainer
    include ./header
    .pageContainer
      h1.header Add
        span.warning.hidden
      .grid.clearfix
        .statsType.statsItem.col-4-5
          span.name 图表类型：
          .uiBtnGroup
            - var chartWidth = 100 / viewData.chartTypes.length;
            each chart, i in viewData.chartTypes
              a.uiBtn(href='javascript:;', class='#{i == 0? "uiBtnSuccess" : ""}', data-type='#{chart.type}', style='width:#{chartWidth}%') #{chart.name}
        .statsCategory.statsItem.col-1-5
          .selector
      .grid.clearfix
        .intervalSelector.statsItem.col-1-2
          span.name 时间间隔：
          .selector
        .categorySelector.statsItem.col-1-2
          span.name 类别：
          .selector
      .grid.clearfix
        .col-10-12.dateSelector
          .col-1-2: .inputGroup.start
            span 开始日期
            .inputItem: input(type='date')
          .col-1-2: .inputGroup.end
            span 结束日期
            .inputItem: input(type='date')
        .col-2-12.timeSelector: .grid
          .col-1-2: .timing
            span.addon: input(type='radio', name='timing', value='realTime')
            span.text 实时
          .col-1-2: .timing
            span.addon: input(type='radio', name='timing', checked, value='noRealTime')
            span.text 非实时
      .grid.clearfix.functions
        .col-1-3: .statsName.inputGroup
          span 统计名称
          .inputItem: input(type='text', placeholder='请输入该统计的名称')
        .col-1-3: a.uiBtn.uiBtnDanger.preview(href='javascript:;') 预览
        .col-1-3: a.uiBtn.uiBtnSuccess.save(href='javascript:;') 保存


  - fileImporter.import(['/stylesheets/add.css', '/javascripts/add.js']);