extends ./layout

block bodyContainer
  include ./menu
  #contentContainer
    include ./header
    .pageContainer
      h1.header Add
      .statsType 统计类型：
        .uiBtnGroup
          a.btn(href='javascript:;') 线状图
          a.btn(href='javascript:;') 柱状图
          a.btn(href='javascript:;') 饼图
          a.btn(href='javascript:;') 线状图
  - fileImporter.import(['/stylesheets/add.css']);