extends ./layout



block bodyContainer
  include ./menu
  #contentContainer
    include ./header
    .pageContainer.statsConfigs
      h1.header Add
      .row
        .statsType.statsItem.col-xs-8
          span.name 图表类型：
          .btn-group
            - var chartWidth = 100 / viewData.chartTypes.length;
            each chart, i in viewData.chartTypes
              a.btn.btn-default(href='javascript:;', class='#{i == 0? "btn-success" : ""}', data-type='#{chart.type}', style='width:#{chartWidth}%') #{chart.name}

        .intervalSelector.statsItem.col-xs-4 
          span.name 时间间隔：
          .selector
      .row
        .dateSelector.col-xs-9
          span(style='float:left;margin-left:15px') 统计日期：
          .datePickerContainer
            .col-xs-4: .input-group.start.date
              input.form-control(type='text')
              span.input-group-addon
                i.glyphicon.glyphicon-th
            .col-xs-4: .input-group.end.date
              input.form-control(type='text')
              span.input-group-addon
                i.glyphicon.glyphicon-th
            .col-xs-4: .commonDateSelector
        .timeSelector.col-xs-3
          .col-xs-6: .timing.input-group
            span.input-group-addon: input(type='radio', name='timing', value='realTime', checked)
            span.form-control 实时
          .col-xs-6: .timing.input-group
            span.input-group-addon: input(type='radio', name='timing', value='noRealTime')
            span.form-control 非实时
      .row(style='padding:0 15px')
        span(style='float:left') 统计参数：
        a.addConfig(href='javascript:;'): span.glyphicon.glyphicon-plus
        
        .statsConfig
          .statsCategory.statsItem.col-xs-6
            .selector
          .categorySelector.statsItem.col-xs-6
            .selector
      .row.functions
        .col-xs-3: .statsName.input-group
          span.input-group-addon 统计名称
          input.form-control(type='text', placeholder='请输入该统计的名称')
        .col-xs-3: a.btn.btn-primary.reset(href='javascript:;') 重置
        .col-xs-3: a.btn.btn-danger.preview(href='javascript:;') 预览
        .col-xs-3: a.btn.btn-success.save(href='javascript:;') 保存
      .row
        .input-group.desc
          span.input-group-addon 统计描述
          input.form-control(type='text')
      .result.hidden.alert
  - fileImporter.import(['/components/bootstrap-datepicker/js/bootstrap-datepicker.js', '/components/bootstrap-datepicker/css/datepicker3.css']);
  - fileImporter.import(['/stylesheets/add.css', '/javascripts/add.js']);
