extends ./layout

block bodyContainer
  include ./menu
  #contentContainer
    include ./header
    .pageContainer
      h1.header Dashboard

      .charListContainer
        

  - fileImporter.import(['/stylesheets/dashboard.css', '/javascripts/dashboard.js']);