- fileImporter.importCss(['/stylesheets/footer.css']);
footer#footer.tac.margin10
  p 
    span.borderRight.pright10 V小说 &copy; 2013 - #{new Date().getFullYear()}
    span.pleft10.pright10.borderRight 大树工作室
    span.pleft10 vicansocanbico@gmail.com