extends ./layout_old

block bodyContainer
  #homeContainer
    include ./header
    .container-fluid: .row
      include ./slider
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.mainContainer






  .pvContainer.chartContainer
  .resTimeStatusContainer.chartContainer
  .reqTotalContainer.chartContainer
  - fileImporter.import(['/javascripts/home.js', '/stylesheets/home.css']);

