extends ./layout

block bodyContainer
  .contentWidth
    #contentContainer
      .chartContainer


  
  - fileImporter.importCss('/stylesheets/index.css');
  - fileImporter.importJs('/javascripts/index.js');