@import 'nib'
@import './common'

#contentContainer
  margin-left $MENU_WIDTH
  .statsConfigs
    line-height 28px
    .row
      margin 20px 0
    .notFilled
      border 1px solid #d43f3a
    .header
      margin 15px
      border-bottom 1px solid $BORDER_COLOR
    .statsItem
      line-height 30px
      .name
        float left
        font-size 16px
    $statsCategoryWidth = 230px
    .statsCategory
      .edit
        display none
    .statsType
      .btn-group
        display block
        margin-left 90px
    .intervalSelector
      .selector
        margin-left 80px
    .dateSelector, .timeSelector
      padding 0
    .datePickerContainer
      margin-left 88px
    .statsConfig
      margin-left 75px
      margin-right 50px
    .addConfig, .removeConfig
      float right
      background-color #eee
      border 1px solid $BORDER_COLOR
      padding 0 8px
      border-radius 3px
      color #6a6b70
      &:hover
        color #333
    .functions
      .btn
        display block
    .desc, .result
      margin 0 15px
    .chartView
      height 300px
      margin 15px
      
  