@import 'nib'
@import './common'

#contentContainer
  margin-left $MENU_WIDTH
  .pageContainer
    margin 0 20px
    .header
      border-bottom 1px solid #eee
    .statsType
      line-height 25px
      
  