@import 'nib'
@import './common'

#contentContainer
  margin-left $MENU_WIDTH
  .pageContainer
    margin 0 20px
    .header
      border-bottom 1px solid #eee
    .statsType
      line-height 30px
      .uiBtnGroup
        display block
        margin-left 90px
        overflow hidden
      .name
        float left
        font-size 16px
      .btn
        width 25%
        margin-left -1px
        padding 0
        text-align center
        &.selected
          background-color #5cb85c
          color #eee
    .categorySelector
      margin 20px 0
      
  