@import 'nib'
@import './common'

#contentContainer
  margin-left $MENU_WIDTH
  .statsConfigs
    margin 15px
    $templateConfigHeight = 200px
    padding-bottom $templateConfigHeight
    .header
      margin 15px 0
      border-bottom 1px solid $BORDER_COLOR
    // .table
    //   .stats
    //     max-height 120px

    .chartViewContainer
      position fixed
      z-index 2
      left 50%
      top 50%
      width 700px
      height 400px
      margin-left -(@width / 2)
      margin-top -(@height / 2)
      .close
        float right
        font-size 16px
        font-weight normal
      .chartView
        height 350px
    .statsTemplateConfig
      position fixed
      left $MENU_WIDTH + 15
      bottom 5px
      right 15px
      height $templateConfigHeight
      background-color #fff
      .panel-body
        height $templateConfigHeight - 40px
        overflow scroll
        .col-xs-4 .btn:nth-child(2), .col-xs-6 .btn:nth-child(3), .col-xs-8 .btn:nth-child(4), .col-xs-12 .btn:nth-child(5)
          color #d44950
        .config
          border 1px solid #ddd
          border-left 3px solid #d9534f
          border-radius 3px
          padding 5px 15px
          position relative
          margin-bottom 20px
          .name
            position absolute
            right 0
            top 0
            border-left 1px solid #ddd
            border-bottom 1px solid #ddd
            padding 1px 15px
            background-color #f7f7f9
            color #d44950
          .viewWidth
            margin 10px 0
            .btn
              &:first-child
                opacity 1
        .save
          display block
