@import 'nib'
@import './common'
.headerContainer
  background-color #1f2025
  height $HEADER_HEIGHT
  line-height @height
  padding-left 20px
  .functions
    display inline-block
    font-weight normal
    color #fff
    font-size 14px
    text-decoration none
    &:hover
      .glyphicon
        color #fff
    .glyphicon
      margin-left 3px
      color #6a6b70