@import 'nib'

#homeContainer
  .mainContainer
    padding 20px
    .addViewContainer
      .row
        margin-bottom 20px
      .function
        .btn
          width 100%
    .selectorList
      .addCategory, .deleteCategory
        width 100%
    .selector .dropdown-menu .glyphicon
      float right

.chartView
  min-height 300px
  margin 30px