.statsListContainer
  position fixed
  top 51px
  bottom 0
  left 0
  padding 20px 0
  z-index 99
  overflow-x hidden
  overflow-y auto
  background-color #f5f5f5
  border-right 1px solid #eee
  .active a, a:hover, a:focus
    background-color #428bce
    color #fff
  .slider
    margin-bottom 10px
  .glyphicon
    float right