@import 'nib'
@import './common'

.uiSelector
  $selectorHeight = 30px
  line-height $selectorHeight
  border 1px solid $BORDER_COLOR
  padding-left 10px
  border-radius 3px
  position relative
  .content
    height $selectorHeight
    overflow hidden
  &.editMode
    &:hover
      .selectList
        display none
    .content > .glyphicon
      display none
  &:hover
    .selectList
      display block
  .glyphicon
    color #0c91c8
    font-size 13px
  .edit
    display block
    width 30px
    text-align center
    background-color #eee
    border-left 1px solid $BORDER_COLOR
    &:hover
      background-color #ccc
    .glyphicon
      color #555
  .checkIcon, .dot
    display inline-block
    position relative
    margin-right 8px
  .checkIcon
    top 2px
    border-radius 3px
    width 12px
    height @width
    border 1px solid #5c5e74
    color #222
  .placeholder
    margin-left 10px
    color #aaa
  .edit
    float right
  .userInput
    overflow hidden
    margin-right 35px
    input
      border none
      outline none
      padding 4px 0
      font-size 12px
      line-height 1.5
      width 100%
  .dot
    width 8px
    height @width
    top -1px
    border-radius 20px
    background-color #0c92c9
  .items
    .checkIcon
      visibility hidden
  .selectList
    display none
    margin 0
    padding 0
    position absolute
    left 0
    top $selectorHeight + 1
    min-width 180px
    border 1px solid #bfbfbf
    padding 10px 15px
    line-height 20px
    box-shadow 0px 2px 8px #888
    background-color #fff
    z-index 9
    $arrowLeft = 7px
    $arrowTop = -16px
    .arrowTop1
      position absolute
      left $arrowLeft
      top $arrowTop
      width 0
      height 3px
      border 8px solid #fff
      border-color transparent
      border-bottom-color #bfbfbf
    .arrowTop2
      position absolute
      left $arrowLeft
      top $arrowTop + 1
      width 0
      height 3px
      border 8px solid #fff
      border-color transparent
      border-bottom-color #fff
    li
      list-style none
      padding 2px 0
      cursor pointer